@page
@model webSecurity_under_the_hood.Pages.HumanResource
@{
    ViewData["Title"] = "HumanResource";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Human Resource Department</h1>
</div>
